
{% extends "base-report.twig" %}

{% block content %}
<div>
    <span class="small">{% trans "From" %} {{ metadata.periodStart }} {% trans "To" %} {{ metadata.periodEnd }}</span>
</div>
<p></p>

<table class="saved-report-table">
    <tr>
        <th>{% trans "Start" %}</th>
        <th>{% trans "End" %}</th>
        <th>{% trans "Display Id" %}</th>
        <th>{% trans "Display" %}</th>
        <th>{% trans "Layout Id" %}</th>
        <th>{% trans "Layout" %}</th>
        <th>{% trans "Start Latitude" %}</th>
        <th>{% trans "Start Longitude" %}</th>
        <th>{% trans "End Latitude" %}</th>
        <th>{% trans "End Longitude" %}</th>
        <th>{% trans "Duration" %}</th>
    </tr>
    {% for item in tableData %}
        <tr>
            <td>{{ item.from }}</td>
            <td>{{ item.to }}</td>
            <td>{{ item.displayId }}</td>
            <td>{{ item.display }}</td>
            <td>{{ item.layoutId }}</td>
            <td>{{ item.layout }}</td>
            <td>{{ item.startLat }}</td>
            <td>{{ item.startLong }}</td>
            <td>{{ item.endLat }}</td>
            <td>{{ item.endLong }}</td>
            <td>{{ item.duration }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

