
{% extends "base-report.twig" %}

{% block content %}
<div>
    <span class="small">{% trans "From" %} {{ metadata.periodStart }} {% trans "To" %} {{ metadata.periodEnd }}</span>
</div>
<p></p>

<table class="saved-report-table">
    <tr>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Display ID" %}</th>
        <th>{% trans "Display" %}</th>
        <th>{% trans "Campaign" %}</th>
        <th>{% trans "Layout ID" %}</th>
        <th>{% trans "Layout" %}</th>
        <th>{% trans "Widget ID" %}</th>
        <th>{% trans "Media" %}</th>
        <th>{% trans "Tag" %}</th>
        <th>{% trans "Number of Plays" %}</th>
        <th>{% trans "Total Duration (s)" %}</th>
        <th>{% trans "First Shown" %}</th>
        <th>{% trans "Last Shown" %}</th>
    </tr>
    {% for item in tableData %}
        <tr>
            <td>{{ item.type }}</td>
            <td>{{ item.displayId }}</td>
            <td>{{ item.display }}</td>
            <td>{{ item.parentCampaign }}</td>
            <td>{{ item.layoutId }}</td>
            <td>{{ item.layout }}</td>
            <td>{{ item.widgetId }}</td>
            <td>{{ item.media }}</td>
            <td>{{ item.tag }}</td>
            <td>{{ item.numberPlays }}</td>
            <td>{{ item.duration }}</td>
            <td>{{ item.minStart }}</td>
            <td>{{ item.maxEnd }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

