
{% extends "base-report.twig" %}

{% block content %}
<div>
    <span class="small">{% trans "From" %} {{  metadata.periodStart }} {% trans "To" %} {{  metadata.periodEnd }}</span>
</div>
<p></p>

<table class="saved-report-table">
    <tr>
        <th>{% trans "Display ID" %}</th>
        <th>{% trans "Display" %}</th>
        <th>{% trans "Time Disconnected" %}</th>
        <th>{% trans "Time Connected" %}</th>
        <th>{% trans "Units" %}</th>
    </tr>
    {% for item in tableData %}
        <tr>
            <td>{{ item.displayId }}</td>
            <td>{{ item.display }}</td>
            <td>{{ item.timeDisconnected }}</td>
            <td>{{ item.timeConnected }}</td>
            <td>{{ item.postUnits }}</td>
        </tr>
    {% endfor %}
</table>
<br/>
<span>{{ placeholder }}</span>
<img src="{{ src|raw }}" >
{% endblock %}